.apple{
    font-family: "Monotype Corsiva" ;
    font-weight: 300;
}
html { 
  background: url(bac.jpg) no-repeat center fixed; 
  background-size: cover;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


main {
    flex: 1 0 auto;
  }
